name: Main CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '0 2 * * 1'

jobs:
  build-and-test:
    uses: ./.github/workflows/build-unit-tests.yml

  code-quality-sast:
    needs: build-and-test
    uses: ./.github/workflows/code-quality-sast.yml
    permissions:
      security-events: write
      contents: read
      actions: read

  secret-scanning:
    needs: build-and-test
    uses: ./.github/workflows/secret-scanning.yml

#  sca-dependency-scan:
#    needs: build-and-test
#    uses: ./.github/workflows/sca-dependency-scan.yml

  secure-iac-dockerfile-scan:
    needs: build-and-test
    uses: ./.github/workflows/secure-iac-dockerfile-scan.yml
    permissions:
      security-events: write
      contents: read
      actions: read

  build-and-scan-docker:
    needs: [code-quality-sast, secret-scanning, secure-iac-dockerfile-scan]
    uses: ./.github/workflows/build-docker-image.yml
    permissions:
      security-events: write
      contents: read
      actions: read

#  dast-dynamic-security-testing:
#    needs: build-and-scan-docker
#    uses: ./.github/workflows/dast-dynamic-security-testing.yml

  publish-docker-hub:
    needs: [build-and-scan-docker]
    uses: ./.github/workflows/publish-docker-hub.yml
    permissions:
      security-events: write
      contents: read
      actions: read
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  deploy-production-server:
    needs: publish-docker-hub
    uses: ./.github/workflows/deploy-production-server.yml
    permissions:
      security-events: write
      contents: read
      actions: read
  send-notifications:
    needs: deploy-production-server
    uses: ./.github/workflows/send-notifications.yml
    permissions:
      security-events: write
      contents: read
      actions: read