on:
  workflow_call:
jobs:
  publish-docker-hub:
    name: Publish to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Download Docker image
        uses: actions/download-artifact@v4
        with:
          name: docker-image
          path: /tmp
      - name: Load Docker image
        run: docker load --input /tmp/image.tar
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Tag and push image
        run: |
          docker tag demo-boost-startup-java:${{ github.sha }} ${{ secrets.DOCKERHUB_USERNAME }}/demo-boost-startup-java:latest
          docker tag demo-boost-startup-java:${{ github.sha }} ${{ secrets.DOCKERHUB_USERNAME }}/demo-boost-startup-java:${{ github.sha }}
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/demo-boost-startup-java:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/demo-boost-startup-java:${{ github.sha }}
      - name: Generate SBOM
        uses: anchore/sbom-action@v0
        with:
          image: ${{ secrets.DOCKERHUB_USERNAME }}/demo-boost-startup-java:latest
          format: spdx-json
          output-file: sbom.spdx.json
      - name: Upload SBOM
        uses: actions/upload-artifact@v4
        with:
          name: sbom
          path: sbom.spdx.json